/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0b1 | 201101 
   NOTE: WORK IN PROGRESS
   USE WITH CAUTION AND TEST WITH ABANDON */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, figcaption, figure,
footer, header, hgroup, menu, nav, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  font-size: 100%;
  vertical-align: baseline; }

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block; }

body {
  line-height: 1; }

ol, ul {
  list-style: none; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none; }

/* remember to define visible focus styles! 
:focus {
  outline: ?????;
} */
/* remember to highlight inserts somehow! */
ins {
  text-decoration: none; }

del {
  text-decoration: line-through; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

/* Neat 1.7.0
 * http://neat.bourbon.io
 * Copyright 2012-2014 thoughtbot, inc.
 * MIT License */
html {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box; }

*, *:before, *:after {
  -webkit-box-sizing: inherit;
  -moz-box-sizing: inherit;
  box-sizing: inherit; }

@font-face {
  font-family: '3sixteen-SuperiorTitle';
  src: url("http://cdn.shopify.com/s/files/1/0028/6132/t/4/assets/SprTtl-Blackwebfont.eot?2677");
  src: url("http://cdn.shopify.com/s/files/1/0028/6132/t/4/assets/SprTtl-Blackwebfont.eot?2677 ?#iefix") format("embedded-opentype"), url("http://cdn.shopify.com/s/files/1/0028/6132/t/4/assets/SprTtl-Blackwebfont.woff?2677") format("woff"), url("http://cdn.shopify.com/s/files/1/0028/6132/t/4/assets/SprTtl-Blackwebfont.ttf?2677") format("truetype"), url("http://cdn.shopify.com/s/files/1/0028/6132/t/4/assets/SprTtl-Blackwebfont.svg?2677") format("svg");
  font-style: normal;
  font-weight: 800; }
@-webkit-keyframes loader {
  0% {
    opacity: 0; }
  75% {
    opacity: 1; }
  100% {
    opacity: 0; } }
@-moz-keyframes loader {
  0% {
    opacity: 0; }
  75% {
    opacity: 1; }
  100% {
    opacity: 0; } }
@keyframes loader {
  0% {
    opacity: 0; }
  75% {
    opacity: 1; }
  100% {
    opacity: 0; } }
body, html {
  margin: 0;
  padding: 0; }

html {
  width: 100%;
  -webkit-text-size-adjust: 100%;
  overflow-x: hidden;
  background: white;
  font-size: 14px;
  margin-top: 0 !important; }
  @media screen and (min-width: 768px) {
    html {
      font-size: 16px; } }
  @media screen and (min-width: 1800px) {
    html {
      font-size: 18px; } }

body {
  line-height: 1.5;
  width: 100%;
  -webkit-tap-highlight-color: black;
  font-family: "Helvetica Neue", Arial, Helvetica, sans-serif;
  font-weight: 400;
  background: white;
  color: black; }

::selection {
  background: #f3f3f3;
  color: #58595b; }

::-moz-selection {
  background: #f3f3f3;
  color: #58595b; }

* {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  margin: 0;
  padding: 0; }

ul {
  list-style-type: none; }

img {
  max-width: 100%;
  height: auto; }

svg {
  max-width: 100%;
  height: auto; }

strong {
  font-weight: 700; }

em {
  font-style: italic; }

a {
  text-decoration: none;
  color: black; }

.bots {
  display: none; }

h1, .h1 {
  font-size: 3.75rem;
  line-height: 1;
  font-weight: 700; }
  h1.headline-big, .headline-big.h1 {
    font-size: 4rem;
    line-height: 1;
    font-weight: 700; }

h2, .h2 {
  font-size: 1.5rem;
  line-height: 1;
  font-weight: 500; }

h3, .h3 {
  font-size: 1.5rem;
  line-height: 1;
  font-weight: 500;
  color: #ddd; }
  h3 a, .h3 a {
    color: #ddd; }

h4, .h4 {
  font-size: 1.25rem;
  line-height: 1;
  font-weight: 400; }

h5, .h5 {
  font-size: 0.6125rem;
  line-height: 1;
  font-weight: 700; }

h6, .h6 {
  font-size: 0.6125rem;
  line-height: 1;
  font-weight: 400; }

p {
  font-family: "Helvetica Neue", Arial, Helvetica, sans-serif;
  font-size: 0.75rem;
  line-height: 1.7;
  font-weight: 400; }

button, .button {
  text-decoration: none;
  -webkit-appearance: none;
  -moz-appearance: none;
  -ms-appearance: none;
  -o-appearance: none;
  appearance: none; }

p {
  margin-bottom: 0.78125rem; }
  p:last-of-type {
    margin-bottom: 0; }

.wrapper {
  max-width: 160rem;
  margin-left: auto;
  margin-right: auto;
  padding-left: 1rem;
  padding-right: 1rem;
  -webkit-transition: padding 800ms ease-in-out;
  -moz-transition: padding 800ms ease-in-out;
  transition: padding 800ms ease-in-out; }
  .wrapper:after {
    content: "";
    display: table;
    clear: both; }
  @media screen and (min-width: 768px) and (max-width: 1023px) {
    .wrapper {
      padding-left: 1rem;
      padding-right: 1rem; } }
  @media screen and (min-width: 1024px) {
    .wrapper {
      padding-left: 3.125rem;
      padding-right: 3.125rem; } }
  .wrapper.collapse-small {
    padding: 0; }
    @media screen and (min-width: 768px) and (max-width: 1023px) {
      .wrapper.collapse-small {
        padding-left: 1rem;
        padding-right: 1rem; } }
    @media screen and (min-width: 1024px) {
      .wrapper.collapse-small {
        padding-left: 3.125rem;
        padding-right: 3.125rem; } }
  .wrapper.collapse-medium {
    padding: 0; }
    @media screen and (min-width: 768px) and (max-width: 1023px) {
      .wrapper.collapse-medium {
        padding: 0; } }
    @media screen and (min-width: 1024px) {
      .wrapper.collapse-medium {
        padding-left: 3.125rem;
        padding-right: 3.125rem; } }
  .wrapper.collapse {
    padding: 0; }
  @media screen and (min-width: 768px) and (max-width: 1023px) {
    .wrapper.outer {
      width: 98%; } }
  @media screen and (min-width: 1024px) {
    .wrapper.outer {
      width: 95%; } }
  @media screen and (min-width: 1800px) {
    .wrapper.outer {
      width: 92%; } }

.row {
  display: block;
  margin-left: -1.5625rem;
  margin-right: -1.5625rem; }
  .row:after {
    content: "";
    display: table;
    clear: both; }

.single-col, .double-col {
  padding: 0 1.5625rem;
  float: left; }

.single-col {
  width: 33.333%; }

.double-col {
  width: 66.666%; }

#page-content {
  position: relative;
  opacity: 1;
  left: 0;
  -webkit-transition: -webkit-transform 400ms cubic-bezier(0.47, 0, 0, 0.95), opacity 400ms ease-out;
  -moz-transition: -moz-transform 400ms cubic-bezier(0.47, 0, 0, 0.95), opacity 400ms ease-out;
  transition: transform 400ms cubic-bezier(0.47, 0, 0, 0.95), opacity 400ms ease-out; }
  .loading #page-content {
    opacity: 0;
    -webkit-transition: -webkit-transform 400ms cubic-bezier(0.47, 0, 0, 0.95), opacity 300ms ease-out;
    -moz-transition: -moz-transform 400ms cubic-bezier(0.47, 0, 0, 0.95), opacity 300ms ease-out;
    transition: transform 400ms cubic-bezier(0.47, 0, 0, 0.95), opacity 300ms ease-out; }
  #page-content.not-loaded {
    opacity: 0; }

.lazy img {
  height: 0.5px;
  opacity: 0;
  -webkit-transition: opacity 800ms cubic-bezier(0.47, 0, 0, 0.95);
  -moz-transition: opacity 800ms cubic-bezier(0.47, 0, 0, 0.95);
  transition: opacity 800ms cubic-bezier(0.47, 0, 0, 0.95); }
.lazy.lazy-loaded img {
  height: auto;
  opacity: 1; }

.no-click {
  display: block;
  height: 0;
  width: 0;
  position: fixed;
  top: 0;
  left: 0;
  z-index: -1;
  opacity: 0;
  background-color: rgba(0, 0, 0, 0.8);
  -webkit-transition: -webkit-transform 400ms cubic-bezier(0.47, 0, 0, 0.95), opacity 400ms cubic-bezier(0.47, 0, 0, 0.95), z-index 0s linear 400ms, height 0s linear 400ms, width 0s linear 400ms;
  -moz-transition: -moz-transform 400ms cubic-bezier(0.47, 0, 0, 0.95), opacity 400ms cubic-bezier(0.47, 0, 0, 0.95), z-index 0s linear 400ms, height 0s linear 400ms, width 0s linear 400ms;
  transition: transform 400ms cubic-bezier(0.47, 0, 0, 0.95), opacity 400ms cubic-bezier(0.47, 0, 0, 0.95), z-index 0s linear 400ms, height 0s linear 400ms, width 0s linear 400ms; }

.full-bleed {
  width: 100%; }
  .full-bleed .wrapper {
    height: 100%; }

.top-margin {
  margin-top: 3.125rem; }
  .top-margin.half {
    margin-top: 1.5625rem; }
  .top-margin.quarter {
    margin-top: 0.78125rem; }

.bottom-margin {
  margin-bottom: 3.125rem; }
  .bottom-margin.half {
    margin-bottom: 1.5625rem; }
  .bottom-margin.quarter {
    margin-bottom: 0.78125rem; }

.margins {
  margin-top: 3.125rem;
  margin-bottom: 3.125rem; }
  .margins.half {
    margin-top: 1.5625rem;
    margin-bottom: 1.5625rem; }
  .margins.quarter {
    margin-top: 0.78125rem;
    margin-bottom: 0.78125rem; }

.top-padding {
  padding-top: 3.125rem; }
  .top-padding.half {
    padding-top: 1.5625rem; }
  .top-padding.quarter {
    padding-top: 0.78125rem; }

.bottom-padding {
  padding-bottom: 3.125rem; }
  .bottom-padding.half {
    padding-bottom: 1.5625rem; }
  .bottom-padding.quarter {
    padding-bottom: 0.78125rem; }

.paddings {
  padding-top: 3.125rem;
  padding-bottom: 3.125rem; }
  .paddings.half {
    padding-top: 1.5625rem;
    padding-bottom: 1.5625rem; }
  .paddings.quarter {
    padding-top: 0.78125rem;
    padding-bottom: 0.78125rem; }

.header-padding {
  padding-top: 3.625rem; }

.with-stroke {
  position: relative; }
  .with-stroke span:not(.num) {
    display: table;
    position: relative;
    z-index: 1;
    padding-right: 1rem;
    background: white; }
  .with-stroke:after {
    content: '';
    display: block;
    position: absolute;
    top: 50%;
    width: 100%;
    border-top: 1px solid rgba(0, 0, 0, 0.1); }
  .with-stroke.centered span:not(.num) {
    margin: 0 auto;
    padding-left: 1rem; }

.neg-small {
  margin-right: -1rem;
  margin-left: -1rem; }
  @media screen and (min-width: 768px) {
    .neg-small {
      margin-right: auto;
      margin-left: auto; } }

.vertical-align-wrap {
  display: table !important;
  width: 100%;
  height: 100%; }
  .vertical-align-wrap .vertical-align {
    display: table-cell !important;
    vertical-align: middle !important;
    float: none !important; }

@media screen and (min-width: 768px) {
  .vertical-align-wrap-large {
    display: table !important;
    width: 100%;
    height: 100%; } }
@media screen and (min-width: 768px) {
  .vertical-align-wrap-large .vertical-align {
    display: table-cell !important;
    vertical-align: middle !important;
    float: none !important; } }

.pad-to-medium {
  padding: 1rem; }
  @media screen and (min-width: 768px) {
    .pad-to-medium {
      padding: 0; } }

.pad-to-large {
  padding: 1rem; }
  @media screen and (min-width: 1024px) {
    .pad-to-large {
      padding: 0; } }

.clearfix:after {
  content: "";
  display: table;
  clear: both; }

.link-card {
  display: block; }

.no-small {
  display: none; }
  @media screen and (min-width: 768px) {
    .no-small {
      display: block; } }

.padded-border-top {
  padding-top: 1.5rem;
  border-top: 1px solid rgba(0, 0, 0, 0.1);
  padding-bottom: 1.5rem; }
  @media screen and (min-width: 1024px) {
    .padded-border-top {
      padding-top: 2rem;
      padding-bottom: 2rem; } }

.underline-grey {
  border-bottom: 1px solid rgba(0, 0, 0, 0.1); }

.empty-state {
  width: 100%;
  color: #ccc;
  text-align: center;
  font-size: 0.875rem !important;
  text-transform: uppercase;
  letter-spacing: 0.15em; }

.center {
  text-align: center; }

.uppercase {
  text-transform: uppercase !important; }

.capitalize {
  text-transform: capitalize !important; }

.lowercase {
  text-transform: lowercase !important; }

.dotted-stroke {
  border-bottom: 1px dotted rgba(0, 0, 0, 0.1); }

.mast {
  padding: 2rem 0 0;
  margin-bottom: 2rem;
  position: relative; }

.spaced-caps {
  letter-spacing: 0.1rem;
  text-transform: uppercase; }

.no-padding {
  padding: 0 !important; }

.header-main {
  padding-top: 3.125rem;
  margin-bottom: 6.25rem; }
  .header-main .blog-cover {
    min-height: 30rem;
    background-size: cover !important;
    background-position: center center !important;
    margin-bottom: 1.5625rem; }

.nav-global .main-nav {
  border-bottom: 1px solid #e5e5e5; }
  .nav-global .main-nav > li {
    display: block;
    float: left;
    margin-bottom: -1px;
    margin-right: 2.625rem; }
    .nav-global .main-nav > li > a {
      display: block;
      padding-top: 1.5rem;
      padding-bottom: 1.5rem;
      border-bottom: 1px solid transparent; }
.nav-global .sub-nav {
  display: none; }

.single-post {
  margin-bottom: 3.125rem; }
  .single-post .post-title .post-title-block {
    margin-bottom: 1.5625rem; }

.single-post.text .text-post-body {
  -webkit-column-count: 2;
  -moz-column-count: 2;
  column-count: 2;
  -webkit-column-gap: 3.125rem;
  -moz-column-gap: 3.125rem;
  column-gap: 3.125rem; }

.single-post.photo .photoset-img {
  float: left;
  width: 50%;
  padding: 0 1.5625rem;
  background-size: cover !important;
  background-position: center center !important; }
.single-post.photo .photo-thumb {
  width: 100%;
  padding-bottom: 100%;
  position: relative;
  cursor: pointer; }
  .single-post.photo .photo-thumb:after {
    display: block;
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: transparent;
    -webkit-transition: background-color 400ms ease-out;
    -moz-transition: background-color 400ms ease-out;
    transition: background-color 400ms ease-out; }
  .single-post.photo .photo-thumb:hover:after {
    background-color: rgba(0, 0, 0, 0.25);
    -webkit-transition: background-color 300ms ease-out;
    -moz-transition: background-color 300ms ease-out;
    transition: background-color 300ms ease-out; }
.single-post.photo .photo-full {
  display: none; }
