//Fonts
@font-face {
  font-family: '3sixteen-SuperiorTitle';
  src: url('http://cdn.shopify.com/s/files/1/0028/6132/t/4/assets/SprTtl-Blackwebfont.eot?2677');
  src: url('http://cdn.shopify.com/s/files/1/0028/6132/t/4/assets/SprTtl-Blackwebfont.eot?2677 ?#iefix') format("embedded-opentype"),
       url('http://cdn.shopify.com/s/files/1/0028/6132/t/4/assets/SprTtl-Blackwebfont.woff?2677') format("woff"),
       url('http://cdn.shopify.com/s/files/1/0028/6132/t/4/assets/SprTtl-Blackwebfont.ttf?2677') format("truetype"),
       url('http://cdn.shopify.com/s/files/1/0028/6132/t/4/assets/SprTtl-Blackwebfont.svg?2677') format("svg");
  font-style: normal;
  font-weight: 800;
}