
// Type Styles

$sans: "Helvetica Neue", Arial, Helvetica, sans-serif;
$monospace: "Courier New", Courier, monospace;

$type-black: 800;
$type-bold: 700;
$type-medium: 500;
$type-book: 400;
$type-light: 300;

// Font Sizes
$type-small: 0.6125rem;
$type-paragraph: 0.75rem;
$type-mid: 1.25rem;
$type-big: 1.5rem;
$type-biggest: 3.75rem;
$type-biggest-xlarge: 4rem;

// Line Heights
$line-small: 1;
$line-medium: 1.3;
$line-large: 1.4;
$line-paragraph: 1.7;

// Tracking
$wide-tracking: 0.15em;
$mid-tracking: 0.09em;
$close-tracking: 0.05em;

// Colors
$white: white;
$black: black;

$red: #f04242;
$red-dark: darken($red, 10%);

$lightest-white: #fbfbfb;
$lighter-white: #f8f8f8;
$light-white: #f3f3f3;
$white-photobg: #f1f1f1;

$white-transparent: rgba(255,255,255,0.5);
$white-mid-transparent: rgba(255,255,255,0.7);
$white-dark-transparent: rgba(255,255,255,0.8);

$gold: #c8b47d;
$gold-hover: #baa56d;

$grey-border: rgba(0,0,0,0.1);
$grey-border-solid: #e5e5e5;

$light-grey: #eee;
$mid-grey: #ddd;
$dark-grey: #ccc;

$text-light-grey: #aaaaaa;
$text-mid-grey: #979797;
$text-dark-grey: #777;
$text-grey-paragraph: #58595b;

$light-black: #414042;
$mid-black: #333;
$dark-black: #232323;

$black-light-transparent: rgba(0,0,0,0.25);
$black-transparent: rgba(0,0,0,0.5);
$black-mid-transparent: rgba(0,0,0,0.7);
$black-dark-transparent: rgba(0,0,0,0.8);
$black-darkest-transparent: rgba(0,0,0,0.9);


$text-shadow: 0px 1px 10px rgba(0,0,0,0.35);

// Misc
$photo-opacity: 0.85;


// Wrapper Paddings
$wrapper-padding-small: 1rem;
$wrapper-padding-medium: 1rem;
$wrapper-padding-large: 3.125rem;

// Column Gutters
$column-padding-large: 1.5625rem;

//Sizes
$vertical-bumper: 3.125rem;
$vertical-bumper-half: $vertical-bumper * 0.5;
$vertical-bumper-quarter: $vertical-bumper * 0.25;

$large-nav-width: 9.375rem;

$small-header-height: 3.5rem;
$large-header-height: 3.625rem;

$large-link-padding: 1.35rem 0 0;

$view-icon-width: 1.05rem;

// Header Specific
$header-bumper-large: 1.5rem;

// Nav Specific
$nav-horz-bumper: 2.625rem;
$nav-vert-bumper: $header-bumper-large;

// Button Styles
$button-padding: 0.3rem 1.5rem;
$button-border-radius: 0.35rem;

// Portfolio Card Specific
$portfolio-card-padding: 1rem;


// Borders
$border-width: 1px;
$thick-border-width: 2px;

$border-trans: $border-width solid transparent;
$standard-border: $border-width solid $grey-border;
$border-dotted: $border-width dotted $grey-border;

$border-black: $border-width solid $light-black;
$thick-border-black: $thick-border-width solid $black;

$border-white: $border-width solid $white;
$border-gold: $border-width solid $gold;
$border-mast: 2px solid $mid-black;
$standard-border-solid: $border-width solid $grey-border-solid;
$thick-border-trans: 3px solid transparent;

// Speeds
$page-transition: 150ms;
$hover-in: 300ms;
$hover-out: 400ms;
$short-transition: 400ms;
$mid-transition: 600ms;
$long-transition: 800ms;
$longest-transition: 1200ms;

$cubic-ease: cubic-bezier(0.47, 0, 0, 0.95);
